#page {
  background-color: #F8F6BC;
  margin: 20px 20px 20px;
}

.text {
  font-family: Arial, Verdana, sans-serif;
}

#header {
  text-align: left;
  color: #900C3F;
  font-size: 34px;
  font-weight: bold;
}

#instructions {
  text-align: left;
  margin-top: 0px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.image {
  width: 300px;
  height: 200px;
  border: 8px solid #900C3F;
}

#photo1 {
  position: absolute;
  top: 40px;
  right: 60px;
}

#photo2 {
  position: absolute;
  top: 275px;
  right: 425px;
}

#photo3 {
  position: absolute;
  top: 275px;
  right: 60px;
}

#generate {
  margin: 0px 22px 0px;
  background-color: white;
  border: 3px solid #900C3F;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 35px;
  transition: all .2s ease-in-out;
}

#generate:hover {
  background-color: #E9EAEA;
  transform: scale(1.1);  
}

#content p {  
  width: 400px;
  height: auto;
  border: 3px solid #900C3F;
  padding-top: 10px; 
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 12px;
  background-color: white;
  text-align: left;
  color: black;
}

#footLine {
  position: absolute;
  top: 510px;
  right: 10px;
  border: 3px solid #900C3F;
  background-color: #900C3F;
  width: 62%;
  padding-top: 5px;
}

#linkButton {
  position: absolute;
  top: 545px;
  right: 85px;
  background-color: #900C3F;
  border: 2px solid #900C3F;
  color: #F8F6BC;
  border-radius: 10px;
  font-size: 15px;
  padding: 7px 17px; 
  transition: all .2s ease-in-out;
}

#linkButton:hover {
  background-color: blue;
  transform: scale(1.1);
}

#citation {
  position: absolute;
  top: 533px;
  right: 425px;
  width: 300px;
  height: auto;
}

#citation p {
  color: black;
  font-weight: normal;
  font-size: 15px;
}

#citationLink {
  text-decoration: none;
  font-style: italic;
}

#citationLink:hover {
  color: blue;
}